 .flip {
      width: 400px;
      height: auto;
      /* Initial image */
      content: url("https://images.pexels.com/photos/6785279/pexels-photo-6785279.jpeg");
      cursor: pointer;
    }

  .flip:hover {
      content: url("https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg");
    }